form {
  display: grid;
  gap: 12px;
  justify-items: center;
  align-items: center;
}
.input-line {
  display: grid;
  grid-template-columns: 190px 300px;
}

.error {
  color: red;
}

.container {
  display: grid;
  /* justify-items: center; */
  align-items: center;
 
  margin: 40px 30px;
  gap: 3px;

  font-size: larger;
}
